/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* **-------------------------**()()()()()()()()()()**----------------------------- */

body {
  position: relative;
}
.containerMain .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  column-gap: 10vw;
}

.navbar button {
  font-size: 30px;
}

.socialIcons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 100px;
}

.socialIcons > div > img {
  width: 35px;
}

.banner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.aboutHeading {
  font-size: 2rem;
}

.aboutParaOne {
  font-size: 1.7rem;
}

.memberInfoDiv {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.memberInfoDiv > div {
  display: flex;
  column-gap: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.venueDiv {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.venueDiv > figure img {
  border-radius: 5px;
  box-shadow: 7px 5px 30px 3px rgba(0, 0, 0, 0.8);
}

.gallery {
  margin-top: 100px;
}

.gallery h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.galleryPicsDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.someInfo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.leftSection {
  width: 50%;
}

.rightSection {
  width: 50%;
}

.howToReachDiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.menuTop {
  border-radius: 50%;
  border: 2px solid;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./static/images/backtotop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky;
  bottom: 50px;
  margin-left: auto;
  margin-right: 50px;
}

.anchorTop {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
